## Packages

In [1]:
import pandas as pd, numpy as np, seaborn as sns
import glob
import datetime
import matplotlib.pyplot as plt
import math

## Input all files

In [2]:
path = r'./player_stats_table' # use your path
files_path = glob.glob(path + "/*.csv")

mutiple_files = [pd.read_csv(file, index_col = None) for file in files_path]
df = pd.concat(mutiple_files, axis  = 0, ignore_index=True)
df.drop(df.columns[0], axis = 1, inplace = True)
df.head(5)

,Date,Game_Index,Home_Away,Team,Players,MP,FG,FGA,FG%,3P,...,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg
0,2018-10-16,1,Home,BOS,Al Horford,29:57,4.0,7.0,0.571,0.0,...,0.0,13.1,6.3,9.0,0.0,10.5,28.7,14.3,90.0,80.0
1,2018-10-16,1,Home,BOS,Kyrie Irving,29:00,2.0,14.0,0.143,1.0,...,0.0,13.5,6.5,29.9,0.0,0.0,16.8,25.3,63.0,89.0
2,2018-10-16,1,Home,BOS,Jayson Tatum,28:56,9.0,17.0,0.529,1.0,...,6.3,23.7,14.6,18.4,1.6,0.0,5.0,28.6,125.0,83.0
3,2018-10-16,1,Home,BOS,Jaylen Brown,28:23,5.0,13.0,0.385,1.0,...,9.6,6.9,8.3,10.1,0.0,0.0,12.6,22.9,91.0,89.0
4,2018-10-16,1,Home,BOS,Gordon Hayward,24:37,4.0,12.0,0.333,1.0,...,7.4,11.9,9.6,0.0,7.5,0.0,0.0,21.4,90.0,74.0

In [3]:
df.shape

(323024, 39)

### Teams Played by Date

> The following information is used to scrape line-up data.

In [ ]:
team_played_date = df.loc[:, ["Date", "Game_Index", "Team"]].drop_duplicates()
team_played_date.reset_index(drop = True, inplace = True)
date_str = team_played_date["Date"].map(str)

def getGameYear(date_col):
    gameYear = []
    for day in date_str:
        if int(day.split("-")[1]) >= 9:
            gameYear.append(day.split("-")[0][-2:])
        else:
            gameYear.append(str(int(day.split("-")[0][-2:]) - 1))
    return gameYear

team_played_date["GameYear"] = getGameYear(date_str)

In [ ]:
#team_played_date.to_csv("Team_Played_Date.csv", index = False)

## Cleaning

### Is there NA value in the raw dataset?

In [4]:
# Missing Value
col_has_missing = df.isnull().apply(sum, axis = 0) > 0
missing_value = pd.DataFrame(df.isnull().apply(sum, axis = 0)[col_has_missing]).transpose()
missing_value

,FG%,3P%,FT%,+/-,TS%,eFG%,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg
0,16229,122491,135441,36,14103,16229,16229,16229,59,59,59,63,59,59,11211,59,59,56

### Why is there a missing data?

> By checking out the number of missing data in each column, it seems there are some patterns among several columns. I guess the data is missing by certain reasons. So, let's get a closer look.

> According to the amount of missing data, I separate the columns into a few groups. Most of them are the percentage information of another independent variable.

1. 16229: FG%, eFG%, 3PAr, FTr

2. 12491: 3P%

3. 135441: FT%

4. 14103: TS%

5. 11211: TOV%

6. 63: AST%

7. 59: ORB%, DRB%, TRB%, STL%, BLK%, USG%, ORtg

8. 56: DRtg

9. 36: +/-,

> **Conclusion 1:** <br> 1. Players who did not play the game would not have a record. <br><br> 2. Taking TOV% as an example, the reason why TOV% is missing is resulted by the zero number of TOV. <br><br> 3. Plus-Minus a.k.a. +/-, simply keeps track of the net changes in score when a given player is either on or off the court. It looks like when a player only plays less than one minute, it would be NA. However, since the player did not have much contribution, I will just take it as a zero. <br><br> **Conclusion 2:** <br> When counting the weighted average, I will ignore the NA value.

#### who has all the missing value?

In [5]:
#sum(df.isnull().apply(sum, axis = 1) == len(missing_value.columns)) #19
df[df.isnull().apply(sum, axis = 1) == len(missing_value.columns)].head(5)

,Date,Game_Index,Home_Away,Team,Players,MP,FG,FGA,FG%,3P,...,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg
5789,2018-11-23,5,Home,DET,JosÃ© CalderÃ³n,0:00,0.0,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80234,2009-05-11,2,Away,DEN,Renaldo Balkman,0:00,0.0,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85899,2012-12-02,1,Away,ORL,Gustavo AyÃ³n,0:00,0.0,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115996,2007-12-20,2,Home,DEN,Bobby Jones,0:00,0.0,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140366,2013-12-02,3,Away,ATL,Pero AntiÄ‡,0:00,0.0,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### What about players who have "MP" more than 0:00

In [10]:
# Minute Played to Second Played
df.insert(6,
          "SP",
          df["MP"].map(lambda x: int(x.split(":")[0]) * 60 + int(x.split(":")[1])))

df_played = df[df["SP"] > 0]
col_played_missing = df_played.isnull().apply(sum, axis = 0) > 0
played_missing_value = pd.DataFrame(df_played.isnull().apply(sum, axis = 0)[col_played_missing]).transpose()
played_missing_value

     FG%     3P%     FT%  +/-    TS%   eFG%   3PAr    FTr  AST%   TOV%
0  16170  122432  135386   14  14048  16170  16170  16170     4  11156

#### Percentage %

Including FG%, 3P%, FT%, TS%, eFG%, AST%, TOV%

In [11]:
percentage_missing = played_missing_value.drop(["+/-"], axis = 1).columns
df_played[df_played.loc[:, list(percentage_missing)].isnull().apply(sum, axis = 1) > 0].head(5)

,Date,Game_Index,Home_Away,Team,Players,MP,SP,FG,FGA,FG%,...,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg
5,2018-10-16,1,Home,BOS,Terry Rozier,26:31,1591,5.0,10.0,0.500,...,0.0,29.6,14.2,5.5,0.0,3.0,9.1,17.0,102.0,84.0
7,2018-10-16,1,Home,BOS,Marcus Morris,20:30,1230,7.0,12.0,0.583,...,8.8,38.2,23.0,0.0,4.5,0.0,7.7,26.0,122.0,74.0
8,2018-10-16,1,Home,BOS,Aron Baynes,19:14,1154,3.0,7.0,0.429,...,14.1,5.1,9.8,21.7,0.0,0.0,12.5,17.0,124.0,89.0
9,2018-10-16,1,Home,BOS,Daniel Theis,4:08,248,0.0,0.0,NaN,...,0.0,23.7,11.4,0.0,0.0,0.0,NaN,0.0,0.0,86.0
10,2018-10-16,1,Home,BOS,Semi Ojeleye,1:27,87,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,91.0

#### +/-

In [12]:
# plus and minus is missing
df_played[df_played["+/-"].isnull()].iloc[:10, :30]

,Date,Game_Index,Home_Away,Team,Players,MP,SP,FG,FGA,FG%,...,STL,BLK,TOV,PF,PTS,+/-,TS%,eFG%,3PAr,FTr
207,2018-10-17,8,Home,PHO,Mikal Bridges,0:11,11,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1820,2018-10-28,2,Home,DAL,Ryan Broekhoff,0:21,21,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
21642,2019-03-17,4,Home,MIA,Duncan Robinson,0:11,11,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
65917,2009-01-14,8,Home,OKC,Chucky Atkins,0:50,50,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
141148,2013-12-07,7,Away,DAL,Wayne Ellington,0:17,17,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
159622,2014-04-11,10,Away,WAS,Garrett Temple,0:01,1,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
160976,2014-04-25,3,Home,WAS,Al Harrington,0:07,7,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
162304,2014-05-31,1,Home,OKC,Thabo Sefolosha,0:05,5,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
196107,2011-01-09,7,Away,SAC,Darnell Jackson,0:01,1,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
214174,2014-11-12,8,Away,BRK,Cory Jefferson,0:06,6,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [13]:
df_played[df_played["+/-"].isnull()]["SP"]

207       11
1820      21
21642     11
65917     50
141148    17
159622     1
160976     7
162304     5
196107     1
214174     6
227183    44
227194    44
319714     3
321937    12
Name: SP, dtype: int64

In [14]:
# plus and minus is zero
df_played[df_played["+/-"] == 0].iloc[:10, :30]

,Date,Game_Index,Home_Away,Team,Players,MP,SP,FG,FGA,FG%,...,STL,BLK,TOV,PF,PTS,+/-,TS%,eFG%,3PAr,FTr
34,2018-10-16,2,Home,GSW,Jonas Jerebko,6:10,370,0.0,0.0,NaN,...,0.0,0.0,1.0,2.0,0.0,0.0,NaN,NaN,NaN,NaN
39,2018-10-16,2,Away,OKC,Terrance Ferguson,26:31,1591,0.0,2.0,0.000,...,0.0,0.0,1.0,3.0,0.0,0.0,0.000,0.000,1.000,0.000
74,2018-10-17,2,Home,DET,Glenn Robinson,20:04,1204,2.0,3.0,0.667,...,1.0,1.0,1.0,0.0,4.0,0.0,0.667,0.667,0.333,0.000
76,2018-10-17,2,Home,DET,Zach Lofton,3:45,225,0.0,1.0,0.000,...,1.0,0.0,1.0,0.0,0.0,0.0,0.000,0.000,1.000,0.000
121,2018-10-17,4,Home,IND,T.J. Leaf,0:58,58,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
138,2018-10-17,5,Home,LAC,Shai Gilgeous-Alexander,28:12,1692,5.0,6.0,0.833,...,1.0,1.0,3.0,1.0,11.0,0.0,0.854,0.833,0.000,0.167
152,2018-10-17,5,Away,DEN,Mason Plumlee,13:22,802,1.0,3.0,0.333,...,0.0,3.0,1.0,5.0,2.0,0.0,0.258,0.333,0.000,0.667
168,2018-10-17,6,Away,ATL,Kent Bazemore,30:16,1816,6.0,12.0,0.500,...,2.0,1.0,2.0,3.0,14.0,0.0,0.583,0.583,0.500,0.000
215,2018-10-17,8,Away,DAL,Dwight Powell,17:29,1049,6.0,8.0,0.750,...,1.0,1.0,0.0,1.0,16.0,0.0,0.752,0.750,0.125,0.750
250,2018-10-17,10,Away,MIN,Andrew Wiggins,37:27,2247,8.0,18.0,0.444,...,1.0,0.0,2.0,3.0,20.0,0.0,0.530,0.500,0.333,0.111

## Win or Loss

> Extracting the outcome of the game and returning 1 as the home team won

In [15]:
def SumPoints(group):
    return group["PTS"].sum()

# do group by
df_drop = df.drop(["Players", "MP", "SP"], axis = 1)
df_drop_grouped = df_drop.groupby(["Date", "Game_Index", "Team", "Home_Away"])
# Get the score
table_grouped = df_drop_grouped.apply(SumPoints)
win_loss_df = pd.DataFrame(table_grouped, columns = ["HomeWin"]).reset_index()

# count win or loss as 1 and 0
win_loss_df_sorted = win_loss_df.sort_values(by = ["Date", "Game_Index", "Home_Away"])
win_loss_df_sorted = win_loss_df_sorted.groupby(["Date", "Game_Index"]).apply(lambda x: int(x.iloc[0, 4] < x.iloc[1, 4]))
win_loss_df_sorted = pd.DataFrame(win_loss_df_sorted, columns = ["HomeWin"]).reset_index()

In [16]:
win_loss_df_sorted.head(10)

         Date  Game_Index  HomeWin
0  2007-10-30           1        0
1  2007-10-30           2        0
2  2007-10-30           3        1
3  2007-10-31           1        0
4  2007-10-31           2        1
5  2007-10-31           3        1
6  2007-10-31           4        0
7  2007-10-31           5        1
8  2007-10-31           6        1
9  2007-10-31           7        1

## Team Data Transformation

> Implement weighted average transformation from the player-level data to the team-level data

In [18]:
def team_table_transformed(df):
    df_drop = df.drop(["Players", "MP"], axis = 1)
    df_drop_grouped = df_drop.groupby(["Date", "Game_Index", "Team", "Home_Away"])

    def weightedavg(group, col):
        d = group[col]
        w = group["SP"]
        return (d * w).sum() / w.sum() #will ignore missing value

    table_transformed = []
    for col in list(df_drop.columns[5:]):
        table_transformed.append(df_drop_grouped.apply(lambda x: weightedavg(x, col)))
    new_df = pd.concat(table_transformed, axis = 1)
    new_df.columns = list(df_drop.columns[5:])
    
    return new_df

In [19]:
new_df = team_table_transformed(df).reset_index()

## Delete Playoff Game

> We only analyze the regular season of the game.

In [20]:
# Regular Season or not
def getRegularSeason(table, date_col):
    regularseason = []
    for gameday in table[date_col]:
        d = datetime.date(int(gameday.split("-")[0]),
                          int(gameday.split("-")[1]),
                          int(gameday.split("-")[2]))
        if datetime.date(2006,10,31) <= d <= datetime.date(2007,4,18):
            regularseason.append(1)
        elif datetime.date(2007,10,30) <= d <= datetime.date(2008,4,16):
            regularseason.append(1)
        elif datetime.date(2008,10,28) <= d <= datetime.date(2009,4,16):
            regularseason.append(1)
        elif datetime.date(2009,10,27) <= d <= datetime.date(2010,4,14):
            regularseason.append(1)
        elif datetime.date(2010,10,26) <= d <= datetime.date(2011,4,13):
            regularseason.append(1)
        elif datetime.date(2011,12,25) <= d <= datetime.date(2012,4,26):
            regularseason.append(1)        
        elif datetime.date(2012,10,30) <= d <= datetime.date(2013,4,17):
            regularseason.append(1)    
        elif datetime.date(2013,10,29) <= d <= datetime.date(2014,4,16):
            regularseason.append(1)  
        elif datetime.date(2014,10,28) <= d <= datetime.date(2015,4,15):
            regularseason.append(1)
        elif datetime.date(2015,10,27) <= d <= datetime.date(2016,4,13):
            regularseason.append(1)   
        elif datetime.date(2016,10,25) <= d <= datetime.date(2017,4,12):
            regularseason.append(1)
        elif datetime.date(2017,10,17) <= d <= datetime.date(2018,4,11):
            regularseason.append(1)
        elif datetime.date(2018,10,16) <= d <= datetime.date(2019,4,10):
            regularseason.append(1)
        else:
            regularseason.append(0)

    table["RegularSeason"] = regularseason

    return table[table["RegularSeason"] == 1]

new_df = getRegularSeason(new_df, "Date")
new_df.drop("RegularSeason", axis = 1, inplace = True)
new_df.head()

,Date,Game_Index,Team,Home_Away,FG,FGA,FG%,3P,3PA,3P%,...,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg
0,2007-10-30,1,GSW,Home,3.826875,8.841667,0.423291,0.574375,2.469444,0.145155,...,2.972972,13.054153,7.961743,15.646465,1.525562,2.267069,18.271097,20.005417,91.476319,111.440000
1,2007-10-30,1,UTA,Away,5.307222,10.969792,0.383974,0.550347,1.023472,0.137587,...,6.945368,17.022208,12.038257,14.562708,1.704708,2.582854,15.920604,19.993611,107.595486,91.194236
2,2007-10-30,2,HOU,Away,4.926042,10.376667,0.451923,0.755486,2.847222,0.140722,...,6.316465,15.416035,11.405576,16.642792,2.156701,1.464347,17.795868,19.987507,107.296944,99.171181
3,2007-10-30,2,LAL,Home,4.555934,10.394417,0.439086,0.319631,1.181099,0.106437,...,4.597042,13.690494,8.592445,14.665398,3.440643,1.157996,11.630491,19.987168,95.756197,102.605514
4,2007-10-30,3,POR,Away,5.154583,10.013611,0.502520,0.872847,1.758264,0.312500,...,4.446646,14.545174,9.996299,9.080931,0.225104,1.256007,16.961451,19.979035,105.751528,115.450972

In [21]:
new_df.shape

(29038, 37)

### Save the Weighted Average Table

> Because it takes so long to compute

In [22]:
#new_df.to_csv("weighted_average_table/weighted_average_team.csv", index = False)

In [23]:
new_df = pd.read_csv("weighted_average_table/weighted_average_team.csv")
new_df.head()

,Date,Game_Index,Team,Home_Away,FG,FGA,FG%,3P,3PA,3P%,...,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg
0,2007-10-30,1,GSW,Home,3.826875,8.841667,0.423291,0.574375,2.469444,0.145155,...,2.972972,13.054153,7.961743,15.646465,1.525562,2.267069,18.271097,20.005417,91.476319,111.440000
1,2007-10-30,1,UTA,Away,5.307222,10.969792,0.383974,0.550347,1.023472,0.137587,...,6.945368,17.022208,12.038257,14.562708,1.704708,2.582854,15.920604,19.993611,107.595486,91.194236
2,2007-10-30,2,HOU,Away,4.926042,10.376667,0.451923,0.755486,2.847222,0.140722,...,6.316465,15.416035,11.405576,16.642792,2.156701,1.464347,17.795868,19.987507,107.296944,99.171181
3,2007-10-30,2,LAL,Home,4.555934,10.394417,0.439086,0.319631,1.181099,0.106437,...,4.597042,13.690494,8.592445,14.665398,3.440643,1.157996,11.630491,19.987168,95.756197,102.605514
4,2007-10-30,3,POR,Away,5.154583,10.013611,0.502520,0.872847,1.758264,0.312500,...,4.446646,14.545174,9.996299,9.080931,0.225104,1.256007,16.961451,19.979035,105.751528,115.450972

In [24]:
new_df.shape

(29038, 37)

## Add Team ID

> Because some teams used to change the location and the team name, using the team id instead of team name will help me to move the feature information from the t period to the t-1 period

In [25]:
# Team ID
id_dict = {}
with open("Team_id.txt", "r") as file:
    for line in file:
        id_dict[line.split("|")[0]] = line.split("|")[1].strip("\n")

new_df.insert(3, "Team_id", [id_dict[tm] for tm in new_df["Team"]])
#new_df["Team_id"] = [id_dict[tm] for tm in new_df["Team"]]

In [26]:
new_df.head()

,Date,Game_Index,Team,Team_id,Home_Away,FG,FGA,FG%,3P,3PA,...,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg
0,2007-10-30,1,GSW,1610612744,Home,3.826875,8.841667,0.423291,0.574375,2.469444,...,2.972972,13.054153,7.961743,15.646465,1.525562,2.267069,18.271097,20.005417,91.476319,111.440000
1,2007-10-30,1,UTA,1610612762,Away,5.307222,10.969792,0.383974,0.550347,1.023472,...,6.945368,17.022208,12.038257,14.562708,1.704708,2.582854,15.920604,19.993611,107.595486,91.194236
2,2007-10-30,2,HOU,1610612745,Away,4.926042,10.376667,0.451923,0.755486,2.847222,...,6.316465,15.416035,11.405576,16.642792,2.156701,1.464347,17.795868,19.987507,107.296944,99.171181
3,2007-10-30,2,LAL,1610612747,Home,4.555934,10.394417,0.439086,0.319631,1.181099,...,4.597042,13.690494,8.592445,14.665398,3.440643,1.157996,11.630491,19.987168,95.756197,102.605514
4,2007-10-30,3,POR,1610612757,Away,5.154583,10.013611,0.502520,0.872847,1.758264,...,4.446646,14.545174,9.996299,9.080931,0.225104,1.256007,16.961451,19.979035,105.751528,115.450972

## Getting all features at t-1 period

> For every team, I shifted their features back to the the last game. So, the first game in 2007 is removed. Then, I also marked the feature name with "_1"

In [27]:
unique_team_id = list(set(new_df["Team_id"]))
table_t_1 = []
for teamid in unique_team_id:
    one_team_df = new_df[new_df["Team_id"] == teamid].sort_values(by = "Date", ascending = False)
    # without the first row of features
    right = one_team_df.iloc[1:, 5:].reset_index(drop = True)
    # without the last row of game information
    left = one_team_df.iloc[:-1, :5].reset_index(drop = True)
    # merge left and right
    merge_table = pd.concat([left, right], axis = 1)
    table_t_1.append(merge_table)

In [28]:
# New Dataframe
df_t1 = pd.concat(table_t_1, axis = 0)

In [29]:
df_t1[df_t1["Team_id"] == "1610612760"].head()

,Date,Game_Index,Team,Team_id,Home_Away,FG,FGA,FG%,3P,3PA,...,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,USG%,ORtg,DRtg
0,2019-04-10,7,OKC,1610612760,Away,5.424167,13.562708,0.412397,2.223125,6.062986,...,7.045292,16.177854,11.433896,13.909410,1.049847,1.141181,10.124174,20.006181,116.803264,116.113958
1,2019-04-09,9,OKC,1610612760,Home,6.186181,12.361111,0.590380,1.791181,4.650417,...,6.995083,16.845486,11.787993,14.621125,1.186069,1.295028,12.073090,19.987840,138.973264,124.345139
2,2019-04-07,10,OKC,1610612760,Away,5.846806,12.543750,0.559587,1.471875,3.675000,...,8.586521,18.087319,12.961549,15.699167,1.945354,1.993757,17.819007,19.998535,116.512153,107.405556
3,2019-04-05,9,OKC,1610612760,Home,5.900694,12.879444,0.477356,1.758472,5.644861,...,6.524715,17.837722,11.238736,17.834590,2.903167,3.110771,9.474201,20.002917,114.912222,99.737986
4,2019-04-02,2,OKC,1610612760,Home,5.645139,13.376736,0.346477,1.689375,5.691250,...,5.265535,15.463847,9.699681,13.663125,1.219118,2.796667,5.342493,20.013549,96.887361,109.424236

## Create Home and Away features.

> To do so, I will separate the table into a home team table and a away team table. Then, I will concatenate the two tables by the date and the game index.

In [30]:
home_table = df_t1[df_t1["Home_Away"] == "Home"]
away_table = df_t1[df_t1["Home_Away"] == "Away"]

In [39]:
final_df_t1 = home_table.merge(away_table, on = ["Date", "Game_Index"], suffixes = ("_h", "_a"))

In [ ]:
# Use the following scripts, if I want to add _1 befind every feature name
#new_col = list(new_df.columns[:5]) + [i+"_1" for i in new_df.columns[5:]]
#df_t1.columns = new_col

### Add the game outcome column

> I have compute the outcome in the section 3.

In [40]:
final_df_t1.shape

(14500, 74)

In [41]:
final_df_t1 = win_loss_df_sorted.merge(final_df_t1, how = "right", on = ["Date", "Game_Index"])
final_df_t1.drop("Home_Away_h", axis = 1, inplace = True)
final_df_t1.head()

,Date,Game_Index,HomeWin,Team_h,Team_id_h,FG_h,FGA_h,FG%_h,3P_h,3PA_h,...,ORB%_a,DRB%_a,TRB%_a,AST%_a,STL%_a,BLK%_a,TOV%_a,USG%_a,ORtg_a,DRtg_a
0,2007-11-01,3,0,UTA,1610612762,5.307222,10.969792,0.383974,0.550347,1.023472,...,6.316465,15.416035,11.405576,16.642792,2.156701,1.464347,17.795868,19.987507,107.296944,99.171181
1,2007-11-02,4,0,CHI,1610612741,5.062138,12.638868,0.400053,1.054654,3.036038,...,7.138956,15.105083,11.079654,14.945004,0.656447,2.602597,13.321290,19.998250,107.244358,116.952156
2,2007-11-02,6,1,IND,1610612754,4.617005,10.916609,0.414678,1.651154,3.363499,...,2.693604,14.892375,9.528479,10.501583,0.895111,1.309208,16.761042,19.995188,85.679444,101.400833
3,2007-11-02,9,0,NJN,1610612751,4.051258,10.070000,0.354623,1.062075,3.032516,...,4.874632,12.863125,8.919222,14.446687,1.758736,1.228354,7.308944,20.012090,122.459236,106.739375
4,2007-11-02,10,1,NOH,1610612740,4.920069,9.308264,0.499835,1.254444,2.410486,...,4.446646,14.545174,9.996299,9.080931,0.225104,1.256007,16.961451,19.979035,105.751528,115.450972

## Save the Cleaned Table Again

In [42]:
#final_df_t1.to_csv("weighted_average_table/cleaned_team_table.csv", index = False)

In [43]:
final_df_t1 = pd.read_csv("weighted_average_table/cleaned_team_table.csv")
final_df_t1.head()

,Date,Game_Index,HomeWin,Team_h,Team_id_h,FG_h,FGA_h,FG%_h,3P_h,3PA_h,...,ORB%_a,DRB%_a,TRB%_a,AST%_a,STL%_a,BLK%_a,TOV%_a,USG%_a,ORtg_a,DRtg_a
0,2007-11-01,3,0,UTA,1610612762,5.307222,10.969792,0.383974,0.550347,1.023472,...,6.316465,15.416035,11.405576,16.642792,2.156701,1.464347,17.795868,19.987507,107.296944,99.171181
1,2007-11-02,4,0,CHI,1610612741,5.062138,12.638868,0.400053,1.054654,3.036038,...,7.138956,15.105083,11.079654,14.945004,0.656447,2.602597,13.321290,19.998250,107.244358,116.952156
2,2007-11-02,6,1,IND,1610612754,4.617005,10.916609,0.414678,1.651154,3.363499,...,2.693604,14.892375,9.528479,10.501583,0.895111,1.309208,16.761042,19.995188,85.679444,101.400833
3,2007-11-02,9,0,NJN,1610612751,4.051258,10.070000,0.354623,1.062075,3.032516,...,4.874632,12.863125,8.919222,14.446687,1.758736,1.228354,7.308944,20.012090,122.459236,106.739375
4,2007-11-02,10,1,NOH,1610612740,4.920069,9.308264,0.499835,1.254444,2.410486,...,4.446646,14.545174,9.996299,9.080931,0.225104,1.256007,16.961451,19.979035,105.751528,115.450972

## Data Analysis

### Missing Data?

In [44]:
# No missing data after implementing weighted average
sum(final_df_t1.isnull().apply(sum, axis = 0))

0

### Descriptive Statistics

> Taking a look at the median, mean, min, and max of the features, we will have a roughly understanding of our data. We can also see if there is any abnormal data or any outliers

In [54]:
def DescriptiveStatistics(df):
    min_list = df.apply(min)
    max_list = df.apply(max)
    mean_list = df.apply(np.mean)
    q1_list = df.quantile(0.25, axis = 0)
    q2_list = df.quantile(0.5, axis = 0)
    q3_list = df.quantile(0.75, axis = 0)
    stat_table = pd.DataFrame([min_list, max_list, mean_list,
                  q1_list, q2_list, q3_list], index = ["Min", "Max", "Mean",
                                                       "Quantile1", "Median", "Quantile3"])
    return stat_table

#### Home Features

In [55]:
home_df = final_df_t1.iloc[:, 5:38]
DescriptiveStatistics(home_df)

,FG_h,FGA_h,FG%_h,3P_h,3PA_h,3P%_h,FT_h,FTA_h,FT%_h,ORB_h,...,ORB%_h,DRB%_h,TRB%_h,AST%_h,STL%_h,BLK%_h,TOV%_h,USG%_h,ORtg_h,DRtg_h
Min,1.697569,5.806806,0.221241,0.000000,0.209167,0.000000,0.112847,0.138125,0.040190,0.000000,...,0.000000,8.236511,5.308069,3.238361,0.000000,0.000000,1.604104,19.794661,58.213735,68.475069
Max,8.790690,17.974969,0.709043,3.418750,9.798679,0.687715,6.601170,8.493264,0.960573,4.507143,...,11.108284,19.603007,13.921035,25.140712,4.431049,6.368549,30.933535,20.065448,154.267708,155.478333
Mean,4.674726,10.105955,0.452207,0.975265,2.674017,0.234990,2.241370,2.916939,0.523334,1.232439,...,4.997790,15.003972,10.000454,14.823757,1.599336,1.593806,12.734121,19.999520,107.421579,108.168941
Quantile1,4.120811,9.100972,0.409894,0.632483,1.953733,0.168555,1.608351,2.141250,0.431848,0.871802,...,3.907773,13.965260,9.283163,13.099005,1.166863,1.011517,10.068324,19.993024,98.822604,100.373991
Median,4.650451,10.031771,0.450792,0.922083,2.567257,0.229883,2.146319,2.804417,0.524413,1.175445,...,4.914680,15.011371,9.999937,14.864937,1.561889,1.514538,12.515462,19.999896,107.459722,108.137287
Quantile3,5.205573,11.007309,0.493972,1.264375,3.271758,0.294687,2.771480,3.567847,0.614557,1.538438,...,6.008946,16.088290,10.720589,16.588977,1.987834,2.086880,15.163856,20.006757,115.897794,115.809653

#### Away Features

In [56]:
away_df = final_df_t1.iloc[:, 41:]
DescriptiveStatistics(away_df)

,FG_a,FGA_a,FG%_a,3P_a,3PA_a,3P%_a,FT_a,FTA_a,FT%_a,ORB_a,...,ORB%_a,DRB%_a,TRB%_a,AST%_a,STL%_a,BLK%_a,TOV%_a,USG%_a,ORtg_a,DRtg_a
Min,1.562014,5.333056,0.227215,0.000000,0.343587,0.000000,0.062500,0.121528,0.036875,0.018264,...,0.482500,8.885632,5.576826,-0.172049,0.000000,0.000000,1.963097,19.716854,58.952083,62.507221
Max,8.556149,17.479631,0.712372,3.464792,8.637987,0.704543,7.504088,9.375208,0.968385,4.024596,...,11.738900,20.002646,14.678562,23.778404,4.747927,6.681861,30.146934,20.067379,158.519722,153.260972
Mean,4.673872,10.106334,0.451390,0.974446,2.670510,0.234896,2.247509,2.917689,0.523771,1.231999,...,4.988920,15.003563,9.999217,14.797112,1.608126,1.592854,12.793858,19.999628,107.340495,108.308764
Quantile1,4.118142,9.098351,0.409349,0.630972,1.955469,0.168018,1.607917,2.139340,0.434055,0.869878,...,3.911606,13.997417,9.298049,13.116269,1.181059,1.016950,10.122094,19.993139,98.804139,100.595624
Median,4.662604,10.036736,0.450134,0.917506,2.565139,0.229623,2.141453,2.799451,0.525551,1.174028,...,4.908934,15.095819,9.999229,14.853358,1.573931,1.513083,12.623060,20.000062,107.314961,108.383819
Quantile3,5.217847,11.032865,0.492447,1.260451,3.269097,0.295865,2.786528,3.570069,0.616557,1.538056,...,6.007790,16.085615,10.700054,16.591726,1.996231,2.095823,15.178392,20.006924,115.778357,115.904196

### EDA Part 1: Distribution of Features

#### Home Team Basic Statistics

In [ ]:
# where are the home basic features?
#final_df_t1.columns[5:24]
home_basic_df = final_df_t1.iloc[:, 5:24]
home_basic_df.head(3)

In [ ]:
len(home_basic_df.columns)

In [ ]:
f, axes = plt.subplots(4, 5, figsize=(15, 14), sharex=False)
for i in range(19):
    sns.distplot(home_basic_df.iloc[:, i], kde = False, ax = axes[i%4, math.floor(i/4)])

#### Home Team Advanced Statistics

In [ ]:
home_advanced_df = final_df_t1.iloc[:, 24:38]
home_advanced_df.head(3)

In [ ]:
len(home_advanced_df.columns)

In [ ]:
f, axes = plt.subplots(4, 4, figsize=(12, 15), sharex=False)
for i in range(14):
    sns.distplot(home_advanced_df.iloc[:, i], kde = False, ax = axes[i%4, math.floor(i/4)])

#### Away Team Basic Statistics

In [ ]:
away_basic_df = final_df_t1.iloc[:, 41:60]
away_basic_df.head(3)

In [ ]:
f, axes = plt.subplots(4, 5, figsize=(15, 14), sharex=False)
for i in range(19):
    sns.distplot(away_basic_df.iloc[:, i], kde = False, ax = axes[i%4, math.floor(i/4)])

#### Away Team Advanced Statistics

In [ ]:
away_advanced_df = final_df_t1.iloc[:, 60:74]
away_advanced_df.head(3)

In [ ]:
f, axes = plt.subplots(4, 4, figsize=(12, 15), sharex=False)
for i in range(14):
    sns.distplot(away_advanced_df.iloc[:, i], kde = False, ax = axes[i%4, math.floor(i/4)])

### EDA Part 2: Linear Correlation

#### Linearly Correlated Among Independent Variables

##### Home Features

In [ ]:
final_df_t1.head()

In [ ]:
home_corr = home_df.corr()

In [ ]:
def corrheatmap(correlation):
    # add a mask to the upper right triangle
    heatmap_mask = np.zeros_like(correlation, dtype=np.bool)
    heatmap_mask[np.triu_indices_from(heatmap_mask)] = True

    # adjust the figure size
    f, ax = plt.subplots(figsize=(11, 9))

    # the color bar
    color_map = sns.diverging_palette(220, 10, as_cmap=True)
    # the main heatmap plot
    sns.heatmap(correlation, mask = heatmap_mask, cmap = color_map,
                square = True, linewidths = 3., center = 0,
                vmax = 1, vmin = -1, cbar_kws={"shrink": .7})

corrheatmap(home_corr)

##### Away Features

In [ ]:
away_corr = home_df.corr()

In [ ]:
corrheatmap(away_corr)

### Box-cox Transformation

Conducting log transform may help to normalize a skewed distribution and to get a more robust result.

### Scale

I will scale my continuous features between 0 and 1. This will improve the computation of the models which count the distance among data points. Also, in a linear model, the feature with a larger value tends to be more important.

### Feature Selestion

Besides directly fitting all the features into the model, I will also do feature selection methods mentioned below. By doing so, we can solve the issues like:

- Curse of Dimensionality (Computation; Overfitting)

- Getting rid of redundant features

Method:

1. Feature Importance

    Based on the feature importance obtained from a decision tree, we can see what features are helpful when doing a categorical problem.


2. Filter Method: Linear Correlation

    We will eliminate the independent variables which are not linearly related to the dependent variable. However, this method will neglect the non-linearly relationship.
    
3. Dimension Reduction

    PCA is a well-known dimention reduction technique. It tends to map the data points from the original dimension to a lower dimensional space and simultaneously, capture most of the variance among the data points. We will also try another method, LDA, which has some assumptions. The variance in each group should be similar and the samples are normally distributed. However sometimes, using a dimension reduction method will make the model hard to be interpretted.

### Model Pipeline

- Cross Validation

    1. K Fold CV

    2. Grid Search or Random Search for Hyperparameter


- Model

    1. Logistic Regression (Our Baseline model)
    
    2. Ridge and Lasso Logistic Regression

    3. Random Forest (Bagging)

    4. KNN

    5. XGBoost (Boosting)

    6. SVM


- Metrics

    1. ROC

    2. Accuracy

    3. Recall Rate

    4. Precision